html{
		font-size: 20px;
	}	
header{
	background: -webkit-linear-gradient(#fff,#ebebeb);
	position: relative;
}
header .back{
	background: url(../images/back.png) no-repeat;
	width: 3.2rem;
	height: 1.5rem;
	position: absolute;
	left: 0.5rem;
	top: 0.5rem;
	background-size: 3.2rem 1.5rem; 
}
header .logo{
	height: 2.5rem;
	text-align: center;
	background: url(../images/logo.png) no-repeat center;
	background-size: 3.7rem 1.0rem; 
}


.btn{
	width: 100%;
	text-align: center;
	height: 0.25rem;
	margin-top: 0.5rem;
}
.btn span{
	-display: inline-block;
	width: 0.25rem;
	height: 0.25rem;
	-border-radius: 50%;
	margin-right: 0.25rem; 
	vertical-align: top;
	position: relative;
}
.swiper-container{ 
	width:16.0rem; 
	height:6.675rem;  
}
.swiper-slide img{ 
	width:16.0rem; 
	height:6.675rem;  
}
.btn .swiper-pagination-bullet-active{
	background: red;
}
.nav li{
	width: 25%;
	text-align: center;
	float: left;
}
.nav li a{
	width: 100%;
	height: 100%;
	
	display: block;
	color: #999;
	font-size: 0.55rem;
	margin-top: 1.0rem;
	padding-top: 2.45rem;
}
.nav li:nth-child(1) a{
	background: url(../images/pic1.png) no-repeat top;
	background-size: 2.0rem 2.0rem;
}
.nav li:nth-child(2) a{
	background: url(../images/pic2.png) no-repeat top;
	background-size: 2.0rem 2.0rem;
}
.nav li:nth-child(3) a{
	background: url(../images/pic3.png) no-repeat top;
	background-size: 2.0rem 2.0rem;
}
.nav li:nth-child(4) a{
	background: url(../images/pic4.png) no-repeat top;
	background-size: 2.0rem 2.0rem;
}
.nav li:nth-child(5) a{
	background: url(../images/pic5.png) no-repeat top;
	background-size: 2.0rem 2.0rem;
}
.nav li:nth-child(6) a{
	background: url(../images/pic6.png) no-repeat top;
	background-size: 2.0rem 2.0rem;
}
.nav li:nth-child(7) a{
	background: url(../images/pic7.png) no-repeat top;
	background-size: 2.0rem 2.0rem;
}
.nav li:nth-child(8) a{
	background: url(../images/pic8.png) no-repeat top;
	background-size: 2.0rem 2.0rem;
}
.sec{
	width: 15.0rem;
	margin: 0 auto;
}
.sec .title{
	width: 100%;
	border-bottom: 0.1rem solid #dcdcdc; 
	margin-top: 1.6rem;
}
.title{
	font-size: 0.65rem;
	font-weight: bold;
	color: #333;
}
.title h1{
	height: 0.75rem;
	line-height: 0.75rem;
	border-left: 0.1rem solid #d51938;
	
	padding-left: 0.45rem;
	
	margin-bottom: 0.5rem;
}

.content li{
	width: 100%;
	height: 3.0rem;
	margin-top: 0.5rem;
}
.content li:nth-child(1){
	margin-top: 1.0rem;
}
.content li:nth-child(1) a .rank{
	background: red;
}
.content li:nth-child(2) a .rank{
	background: #ff4800;
}
.content li:nth-child(3) a .rank{
	background: #ff7300;
}
.rank{
	width: 1.5rem;
	height: 100%;
	display: inline-block;
	background: #ff7300;
	text-align: center;
	line-height: 3rem;
	font-size: 0.85rem;
	color: #fff;
	font-weight: bold;
}
.content li a img{
	width: 4.5rem;
	height: 3.0rem;
}
.r{
	width: 9.0rem;
	height: 3.0rem;
	background: #f4f4f4;
	font-size: 0.6rem;
	color: #999;
	position: relative;
}
.r p{
	padding-left: 0.6rem;
	line-height: 0.95rem
}
.sold{
	padding-top: 0.75rem;
}
.price{
	font-size: 0.65rem;
	color: #f00;
	line-height: 3.0rem;
	position: absolute;
	right: 1.25rem;
	top: 0;
}
.more{
	width: 100%;
	height: 2.0rem;
	background: #f5f5f5;
	font-size: 0.65rem;
	text-align: center;
	line-height: 2.0rem;
	color: #333;
	margin: 0.5rem 0;
}
.bgs{
	width: 25%;
	height: 8.8rem;
	background: url(../images/4.png) no-repeat;
	background-size: 3.75rem 8.8rem; 
	float: left;
}
.ass li{
	width: 25%;
	border: 1px solid #ccc;
	border-left: none;
	border-bottom: none;
	float: left;
	text-align: center;
	line-height: 2.2rem;
	box-sizing: border-box;
	font-size: 0.6rem;
}
.ass li a{
	color: #999;
}
.ass li:nth-child(1) a{
	color: red;
}
.ass li:nth-child(6) a{
	color: red;
}
.ass li:nth-child(8) a{
	color: red;
}
.app{
	width: 100%;
	display: flex;
}
.app li:nth-last-child(1){
	border-right: 0.025rem solid #ccc;
}
.app li{
	flex:1;
	text-align: center;
	border: 0.025rem solid #ccc;
	border-right: none;
}
.app li a{
	background: url(../images/5.png) no-repeat  center;
	background-size: 1.0rem 1.1rem;
	font-size: 0.55rem;
	color: #333;
	display: block;
	padding-top: 2.8rem;
}
.mb{
	margin-bottom: 0.75rem;
}
.user{
	width: 100%;
	height: 2.25rem;
	background: #f8f8f8;
	font-size: 0.6rem;
	font-weight: bold;
	line-height: 2.25rem;
	margin-top: 0.75rem;
}
.user input{
	line-height: 2.25rem;
	font-size: 0.65rem;
}
.user input[type=button]{
	padding-left: 0.75rem;
}
.user input[type=submit]{

	padding-left: 1.25rem;
}
.user span{
	width: 2.45rem;
	background: url(../images/3.png) no-repeat 1.5rem center;
	background-size: 0.35rem 0.55rem;
}
footer{
	width: 100%;
	height: 4.05rem;
	background: #eee;
	text-align: center;
}

footer span{
	padding-top: 1.0rem;
	display: inline-block;
}
footer span a{
	font-size: 0.65rem;
	font-weight: bold;
}
footer p{
	font-size: 0.5rem;
	color: #333;
	line-height: 1.95rem
}